<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        body{
            background-color:black;
            color: white;

        }
    </style>
</head>
<body>
    
    <div id="app">
        {{title}} - 
        {{author}} - 
        {{age}}

        <button @click="age--">-</button> 
        <button @click="age++">+</button> 
        <div @click="changeTitle('New Title')">Change title</div> 

        <test-component></test-component>
        
    </div>

    <script src="app.js"></script>
</body>
</html>